@charset "UTF-8";

body{
    background-color: rgb(178, 238, 191);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
     color: rgb(0, 0, 0);
}
#principal{
    text-align: center;
    color: black;
    font-size: 80px;
}
h2 {
    color: rgb(73, 109, 71);
}
.basico{
    color: rgb(19, 192, 19);
}

.intermediario{
    color: rgba(247, 211, 7, 0.877);
}
.avançado{
    color: rgba(230, 17, 17, 0.822);
}